@charset "utf-8";@font-face {
    font-family: "plantc";
    src: url("/fonts/plantc.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Han Serif";
    src: url("/fonts/SourceHanSerifCN-SemiBold.woff2") format("woff2"), url("/fonts/SourceHanSerifCN-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SHserif";
    src: url("/fonts/SourceHanSerifCN-SemiBold-7.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --black:#000
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

li {
    list-style: none;
}

body {
    background-image: url('/images/paper_fibers.png');
    padding: 2rem 1rem;
    font-family: "plantc", serif !important;
}

body:lang(zh) {
    /* font-family: "plantc", "Source Han Serif", serif !important; */
    font-family: "plantc", "SHserif", serif !important;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    height: 10rem;
    margin-left: 0.5rem;
}

header .logo img {
    height: 100%;
}

.p_box {
    border: 2px solid var(--black);
    padding: 3px;
    margin-right: 0.5rem;
    width: 24rem;
}

.p_box > div {
    border: 1px solid var(--black);
    padding: 0.6rem 1rem;
    text-align: right;
}

.p_box p {
    text-indent: 2em;
    text-align: justify;
    margin-bottom: 0;
}

.p_box span {
    line-height: 2.0rem;
}

.aside {
    border: solid var(--black);
    border-width: 2px 0;
    padding: 3px 0;
}

.aside > div {
    border: solid var(--black);
    border-width: 1px 0;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    padding: 0 4px;
}

.aside .msg p {
    font-size: 1.1rem;
    line-height: 2.6rem;
    margin-bottom: 0;
}

.aside .time_box {
    font-size: 1.2rem;
}

.aside .time_box .date {
    text-align: center;
    line-height: 2.6rem;
}

/* .aside .social {
    width: 40%;
} */

.aside .social ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    margin-bottom: 0 !important;
    text-align: center;
}

.aside .social ul li {
    width: 3.4rem;
    position: relative;
}

.aside .social ul li i {
    font-size: 1.3rem;
    color: var(--black);
    line-height: 2.6rem;
}

.aside .social .img_card {
    width: 10rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: absolute;
    top: 4.9rem;
    left: 50%;
    transform: translate(-50%,0);
    /* overflow: hidden; */
    box-shadow: 0 -10px 30px rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 1rem;
    opacity: 0;
    transition: all 0.4s ease-out 0s;
}

.aside .social .img_card:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 16px 16px 16px;
    border-color: transparent transparent #fff transparent;
}

.aside .social .img_card.on {
    top: 3.9rem;
    opacity: 1;
}

.aside .social .img_card img {
    width: 100%;
}

main {
    height: 390px;
    padding: 1rem 5px;
}

footer {
    font-size: 1.1rem;
    line-height: 2.6rem;
    border-top: 2px solid #000;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    padding: 0 5px;
}